.container{
    display: flex;
    flex-direction: row-reverse; */se muestra de atras para adelante
    
}
.item {
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
    border: 2px solid black;
    height: 100px;
    width: 100px;
}

.item:nth-child(1){
    background-color:rgb(55, 215, 227)
}
.item:nth-child(2){
    background-color:rgb(218, 125, 231);
}
.item:nth-child(3){
    background-color:rgb(191, 237, 139);
}